/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Main */
html{
    font-size: 62.5%;
    line-height: 1.4;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
}

body{
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.8em;
    min-height: 100vh;
    height: 100vh;
    background-color: #f0f0f0; 
}

/* Layouting */
.layout-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
@media screen and (max-width: 860px) {
    .layout-row {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.layout-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout-wrap{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    
}
.flex {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

/* Header */
.main-header{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: rgba(0,0,0,0.86);
    height: 70px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    -ms-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.logo{
    line-height: 1;
}

/* Footer */
footer{
    background: rgba(0,0,0,0.86);
    color: #fff;
    -ms-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
footer .content{
    padding: 10px 20px;
}
footer .info-list{
    margin-top: 0;
}
footer a {
    color: #00DA00;
}

@media screen and (min-width: 860px) {
    footer .info-list{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
        justify-content: space-between;
    }
}


/* Typings */
h1,h4,h5,h6{
    color: rgba(0,0,0,0.87);
}
h1, .large-heading{
    font-size: 4.6rem;
    font-weight: 700;
    /*text-transform: uppercase;*/
    font-family: 'Roboto Slab', serif;
    color: rgba(0,0,0,0.87);
    line-height: 6.5rem;
}
h2{
    font-size: 1.8rem;
    line-height: 1.6;
    margin-top: 20px;
}
h3{
    border-bottom: 2px solid #00DA00;
    text-transform: uppercase;
}
h4{
    font-family: 'Roboto Slab', serif;
    font-size: 2.0rem;
    line-height: 1.8;
    font-weight: 700;
}
h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    word-wrap: break-word;
}
h6{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
@media screen and (max-width: 860px) {
    h1, .large-heading{
        font-size: 2.7rem;
        line-height: 3.6rem;
        margin-top: 16px;
    }
}
.preamble{
    font-size: 1.8rem;
}

p{
    margin-bottom: 20px;
}
p:last-child{
    margin-bottom: 0;
}

/* Nav */
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 10px
}

nav ul li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    opacity: 0.8;
}

nav ul li a.active{
    opacity: 1;
}
#menu-btn{
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px;
    display: none;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width: 860px) {
    nav{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
	background: rgba(0,0,0,0.86);
    }
    nav ul{
        display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
        -ms-flex-direction: column;
    	-webkit-flex-direction: column;
    	flex-direction: column;
    }
    nav ul li{
        margin: 0;
	border-bottom: 1px solid rgb(56,56,56);
    }
    nav ul li a{
        padding: 10px;
        background: rgba(0,0,0,0.9);
        display: block;
        border-bottom: 1px solid transparent;
    }

    #menu-btn{
        display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
        -ms-flex-direction: row;
    	-webkit-flex-direction: row;
    	flex-direction: row;
        align-items: center;
    }
}

.menu-btn i{
    margin-left: 5px;
}

/* Links */
a{
    text-decoration: none;
    color: #007500;
    word-wrap: break-word;
    font-weight: bold;
}

/* Banner */
.banner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 80px 40px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/bg5.jpg');
    color: #fff;
    background-size: cover;
}

.index.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/index.jpg');
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: cover;
}

.index.banner #large-logo{
    height: 120px;
}
@media screen and (max-width: 860px) {
    .index.banner #large-logo{
        height: 80px;
    }   
}

.contact.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/contact.jpg');
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: cover;
}

.about.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('assets/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
}

.clients.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('assets/clients.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 90%;
}

.career.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ), url('assets/career.jpg');
    background-repeat: no-repeat;
    background-position: 10% 35%;
    background-size: cover;
}

.services.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/services.jpg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}

.banner h1{
    color: #fff;
}

.banner > *{
    max-width: 800px;
    text-align: center;
}

/* content */
.content{
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}

.more-space{
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Column/box content */
.box{
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 40px;
    margin-right: 40px;
}
.box:last-child, .box.card:last-child{
    margin-right: 0;
}
.box.card{
    background: #fff;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
}
.box.card.single{
    width: 32%;
}
.box.card img{
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: 1px solid rgba(0,0,0,0.05);
}
.box ul li{
    margin-left: 20px;
    font-style: italic;
}
.box ul.info-list li{
    margin-left: 0;
    font-style: normal;
}
.box.news a{
    color: rgba(0,0,0,0.7);
    font-weight: normal;
}
@media screen and (min-width: 480px) and (max-width: 860px) {
    .box, .box.card.single{
        width: 100%;
    }
    .box:last-child, .box.card:last-child{
        margin-right: 0;
    }
    .box.card.contact, .box.card.single.contact{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .box.card.contact .card-image{
        width: 25%;
    }
    .box.card.contact .card-content{
        padding-left: 20px;
    }
}
@media screen and (max-width: 479px){
    .box.card.contact .card-image{
        width: 50%;
    }
    .box.card.single{
        width: 100%;
    }
}

/*clients*/
.clients .box.card{
    align-items: center;
    justify-content: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex: 1 0 20%;
    -moz-flex: 1 0 20%;
    flex: 1 0 20%;
    margin: 10px;
    min-width: 200px;
    max-width: 220px;
    height: 120px;
}
.clients .box.card img{
    border: none;
}

/* info Lists */
.info-list{
    margin-top: 15px;
}
.info-list li{
    list-style-type: none;
    font-size: 1.4rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 7px 0;
}

.info-list li a{
    word-break: break-all;
}

.info-list li i{
    margin-right: 10px;
    font-size: 24px;
    width: 24px;
}

.map{
    height: 480px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.leaflet-popup-content{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4rem;
}

.leaflet-popup-content button{
    margin-top: 12px;
    border: none;
    background: #0d0;
    text-transform: uppercase;
    border-radius: 2px;
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
}

.leaflet-popup-content input{
    margin-top: 12px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    background: white;
    font-weight: bolder;
    font-size: 1.8rem;
}

.leaflet-popup-content input:focus{
    border-bottom: 1px solid #aaa;
    outline: none;
}

/* Blog/news */
article{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
article:last-child{
    border-bottom: none;
}

.full-image img{
    width: 100%;
}

article img{
    max-width: 100%;
}

article h2, article .meta{
    text-align: center;
    width: 100%;
    display: block;
}

article .meta{
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

article h2{
    font-size: 4.6rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: rgba(0,0,0,0.87);
    line-height: 6.5rem;
    max-width: 620px;
    margin: 0 auto;
}
@media screen and (max-width: 860px){
    article h2 {
        font-size: 2.7rem;
        line-height: 3.6rem;
        margin-top: 16px;
    }
}

article h2 a{
    color: rgba(0,0,0,0.87);
}

article .post .image{
    margin-bottom: 20px;
}

article .post p {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

strong{
    font-weight: bold;
}
em{
    font-style: italic;
}

/*pagination*/
.pagination{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}

.pagination > *{
    padding: 0 20px;
}

.pagination .disabled{
    color:rgba(0,0,0,0.38);
}

.pagination i {
    vertical-align: top;
    margin-top: 2px;
}

/* Index services */
.service{
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.keep .layout-row{
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
@media screen and (max-width: 860px){
    .keep .box:first-child{
        order: 2
    }
    .keep .box:last-child{
        order: 1
    }
}

.service i{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

/* link button*/
.btn{
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background: #007500;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

/* column */
.scroll-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.scroll-row > .contact{
   min-width: calc(960px / 8);
   text-align: center;
   color: rgba(0,0,0,0.7);
   margin-bottom: 16px;
}
.scroll-row > .contact {
    width: auto;
    max-width: 160px;
}

.scroll-row > .contact img {
    width: 100%;
}

.scroll-row > .contact h5{
    font-size: 1.8rem;
}
.scroll-row > .contact p{
    font-size: 1.4rem;
    line-height: 1.5;
}

/*
.blurb {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4.8rem;
}

.blurb h2 {
    font-size: 3.2rem;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    line-height: 4.8rem;
}

.blurb .box.card.contact {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.blurb .box.card .card-image {
    border: none;
}

.blurb .box.card.contact h4 {
    font-size: 1.4rem;
}

.blurb .box.card.contact p {
    font-size: 1.2rem;
    line-height: 1.4rem;
}*/

.photo-credit {
    text-align: right;
    color: #aaa;
    font-size: 1.1rem;
}
