/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Main */
html{
    font-size: 62.5%;
    line-height: 1.4;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
}

body{
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.8em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    flex: 1;
}

/* Layouting */
.layout-row {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 860px) {
    .layout-row {
        flex-direction: column;
    }
}

.layout-column {
    display: flex;
    flex-direction: column;
}
.flex {
    flex: 1;
}

/* Header */
.main-header{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.86);
    height: 70px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.logo{
    line-height: 1;
}

/* Footer */
footer{
    background: rgba(0,0,0,0.86);
    color: #fff;
}
footer .content{
    padding: 10px 20px;
}
footer .info-list{
    margin-top: 0;
}
@media screen and (min-width: 860px) {
    footer .info-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* Typings */
h1{
    font-size: 4.6rem;
    font-weight: 700;
    /*text-transform: uppercase;*/
    font-family: 'Roboto Slab', serif;
    color: rgba(0,0,0,0.87);
    line-height: 6.5rem;
}
h2{
    font-size: 1.8rem;
    line-height: 1.6;
    margin-top: 20px;
}
h3{
    border-bottom: 2px solid #00FF00;
    text-transform: uppercase;
}
h4{
    font-family: 'Roboto Slab', serif;
    font-size: 2.0rem;
    line-height: 1.8;
    font-weight: 700;
}
h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
@media screen and (max-width: 860px) {
    h1{
        font-size: 2.7rem;
        line-height: 3.6rem;
        margin-top: 16px;
    }
}
.preamble{
    font-size: 1.8rem;
}

/* Nav */
nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav ul li a{
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

/* Links */
a{
    text-decoration: none;
    color: rgb(87, 196, 157);
    word-wrap: break-word;
}

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 80px 40px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/bg5.jpg');
    color: #fff;
    
/*text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);*/
    background-size: cover;
    filter: grayscale(100%)
}

.index.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

.contact.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/bg5.jpg');
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

.about.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('assets/bg2.jpg');
    background-repeat: no-repeat;
    background-position: 10% 20%;
    background-size: cover
}

.career.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ), url('assets/bg3.jpg');
    background-repeat: no-repeat;
    background-position: 10% 35%;
}

.services.banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('assets/bg4.jpg');
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

.banner h1{
    color: #fff;
}

.banner > *{
    max-width: 800px;
    text-align: center;
}

/* content */
.content{
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}

.more-space{
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Column/box content */
.box{
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 40px;
    margin-right: 40px;
}
.box:last-child, .box.card:last-child{
    margin-right: 0;
}
.box.card{
    background: rgb(237, 237, 237);
    margin-right: 20px;
    padding: 20px;
}
.box.card.single{
    width: 32%;
}
.box.card .card-image{
    max-height: 260px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.05);
}
.box.card img{
    width: 100%;
    box-sizing: border-box;
}
@media screen and (min-width: 480px) and (max-width: 860px) {
    .box, .box.card.single{
        width: 100%;
    }
    .box:last-child, .box.card:last-child{
        margin-right: 0;
    }
    .box.card.contact, .box.card.single.contact{
        display: flex;
        flex-direction: row;
    }
    .box.card.contact .card-image{
        max-height: 220px;
    }
    .box.card.contact .card-content{
        padding-left: 20px;
    }
}
@media screen and (max-width: 479px){
    .box.card.single{
        width: 100%;
    }
}

/* info Lists */
.info-list{
    margin-top: 15px;
}
.info-list li{
    list-style-type: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin: 7px 0;
}

.info-list li a{
    word-break: break-all;
}

.info-list li i{
    margin-right: 10px;
    font-size: 24px;
    width: 24px;
}

.map{
    height: 480px;
    border: 2px solid rgb(237, 237, 237);
}

.leaflet-popup-content{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4rem;
}

.leaflet-popup-content button{
    margin-top: 12px;
    border: none;
    background: #0d0;
    text-transform: uppercase;
    border-radius: 2px;
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
}

.leaflet-popup-content input{
    margin-top: 12px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    background: white;
    font-weight: bolder;
    font-size: 1.8rem;
}

.leaflet-popup-content input:focus{
    border-bottom: 1px solid #aaa;
    outline: none;
}

/* Blog/news */
article{
    border-bottom: 1px solid #eee;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
article:last-child{
    border-bottom: none;
}

article .full-image img{
    width: 100%;
}

article img{
    max-width: 100%;
}

article h2, article .meta{
    text-align: center;
    width: 100%;
    display: block;
}

article .meta{
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

article h2{
    font-size: 4.6rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: rgba(0,0,0,0.87);
    line-height: 6.5rem;
    max-width: 620px;
    margin: 0 auto;
}
@media screen and (max-width: 860px){
    article h2 {
        font-size: 2.7rem;
        line-height: 3.6rem;
        margin-top: 16px;
    }
}

article h2 a{
    color: rgba(0,0,0,0.87);
}

article .post .image{
    margin-bottom: 20px;
}

article .post p {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

strong{
    font-weight: bold;
}
em{
    font-style: italic;
}

/*pagination*/
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination > *{
    padding: 0 20px;
}

.pagination .disabled{
    color:rgba(0,0,0,0.38);
}

.pagination i {
    vertical-align: top;
    margin-top: 2px;
}