<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {% if page.enable_leaflet %}
      <link rel="stylesheet" type="text/css" href="/assets/vendor/leaflet/leaflet.css"> 
      <link rel="stylesheet" type="text/css" href="/assets/vendor/leaflet-routing-machine/leaflet-routing-machine.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/fontello.css">
    <link rel="stylesheet" type="text/css" href="/site.css">
</head>

<body class="layout-column">
    <header class="main-header">
        <a href="/" class="logo">
            <img src="/assets/logo.png" alt="Dotnet Mentor logo" height="20" />
        </a>
        <span class="flex"></span>
        <nav id="nav">
            <ul>
                <li><a href="/services">Tjänster</a></li>
                <li><a href="/news">Nyheter</a></li>
                <li><a href="/career">Karriär</a></li>
                <!--<li><a href="/clients">Kunder</a></li>-->
                <li><a href="/about">Om oss</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
        <button id="menu-btn" onclick="toggleMenu()"><span>Menu</span> <i class="material-icons">menu</i></button>
    </header>


    <div class="container flex">
        {{ content }}
    </div>
    <footer>
        <div class="content">
            <ul class="info-list">
                <li><i class="material-icons">phone</i> +46 70 7493603</li>
                <li><i class="material-icons">mail</i> <a href="mailto:info@dotnetmentor.se">info@dotnetmentor.se</a></li>
                <li><i class="material-icons">home</i> Första långgatan 22, 413 28 Göteborg </li>
            </ul>
        </div>
    </footer>

    <script>
        var mainNav = document.getElementById('nav');
        function toggleMenu(){
            mainNav.style.display = mainNav.style.display == 'block' ? 'none' : 'block';
        }
    </script>
</body>

</html>