<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ page.title }}">
    {% endif %}

    <meta name="author" content="dotnetmentor.se">
    <meta name="contact" content="info@dotnetmentor.se">
    <meta name="copyright" content="Copyright © 2016 Dotnet Mentor. Alla rättigheter reserverade.">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="icon" sizes="192x192" href="/assets/dotnetmentor-icon.png"> 
    <link rel="icon" href="/assets/favicon.png" type="image/png">

    {% if page.enable_leaflet %}
      <link rel="stylesheet" type="text/css" href="/assets/vendor/leaflet/leaflet.css"> 
      <link rel="stylesheet" type="text/css" href="/assets/vendor/leaflet-routing-machine/leaflet-routing-machine.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/fontello.css">
    <link rel="stylesheet" type="text/css" href="/site.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92686584-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="layout-column">
    <header class="main-header">
        <a href="/" class="logo">
            <img src="/assets/dotnetmentor-logo.png" alt="Dotnet Mentor logo" height="20" />
        </a>
        <span class="flex"></span>
        <nav id="nav">
            <ul>
                <li><a href="/services" {% if page.url == "/services" %}class="active"{% endif %}>Tjänster</a></li>
                <li><a href="/news" {% if page.url == "/news/" %}class="active"{% endif %}>Nyheter</a></li>
                <li><a href="/career" {% if page.url == "/career" %}class="active"{% endif %}>Karriär</a></li>
                <li><a href="/clients" {% if page.url == "/clients" %}class="active"{% endif %}>Kunder</a></li>
                <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>Om oss</a></li>
                <li><a href="/contact" {% if page.url == "/contact" %}class="active"{% endif %}>Kontakt</a></li>
            </ul>
        </nav>
        <button id="menu-btn" onclick="toggleMenu()"><i class="material-icons">menu</i></button>
    </header>


    <div class="container flex">
        {{ content }}
    </div>
    <footer>
        <div class="content">
            <ul class="info-list">
                <li><i class="material-icons">phone</i> +46 70 7493603</li>
                <li><i class="material-icons">mail</i> <a href="mailto:info@dotnetmentor.se">info@dotnetmentor.se</a></li>
                <li><i class="material-icons">home</i> Första långgatan 22, 413 28 Göteborg </li>
            </ul>
        </div>
    </footer>

    <script>
        var mainNav = document.getElementById('nav');
        function toggleMenu(){
            mainNav.style.display = mainNav.style.display == 'block' ? 'none' : 'block';
        }
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19193156-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>
