<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.enable_leaflet %}
      <link rel="stylesheet" type="text/css" href="/assets/vendor/leaflet/leaflet.css">
    {% endif %}
	<link rel="stylesheet" type="text/css" href="/fontello.css">
    <link rel="stylesheet" type="text/css" href="/site.css">
</head>

<body>
    <header class="main-header">
        <a href="/" class="logo">
            <img src="/assets/logo3.png" height="46" />
        </a>
        <span class="flex"></span>
        <nav>
            <ul>
                <li><a href="/services">Tjänster</a></li>
                <li><a href="/blog">Blogg</a></li>
                <li><a href="/career">Karriär</a></li>
                <li><a href="/clients">Kunder</a></li>
                <li><a href="/about">Om oss</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
    </header>


    <div class="container">
        {{ content }}
    </div>
    <footer>
        <ul>
            <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
            <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
        </ul>
    </footer>
</body>

</html>